body {
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background-color: rgba(247, 247, 247, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box {
    max-width: 100%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.options label {
    font-size: 16px;
}

.options a {
    font-size: 16px;
    color: #007bff;
}

.options a:hover {
    text-decoration: underline;
}

.main-box {
    text-align: center;
}

.main-box button {
    width: calc(100% - 20px);
    padding: 15px;
    margin: 10px 0;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-box button:hover {
    background-color: #0056b3;
}

.main-box a {
    display: block;
    margin-top: 20px;
    color: #007bff; /* Change text color to blue */
    background-color: #ffffff; /* Change background color to white */
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #007bff; /* Optional: add a border to match the text color */
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-box a:hover {
    background-color: #007bff; /* Background color on hover */
    color: #ffffff; /* Text color on hover */
}
